html,
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #aaaaaa;
	line-height: 22px;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	/* background-color: #434242; */
	height: 100vh;
}

a {
	color: #aaaaaa;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.fullheight {
	height: 100%;
}

.overflowH {
	overflow: hidden;
}

.heroImage {
	height: 100%;
	/* background-image: url('../images/Image.jpg');
	background-size: cover; */
	background-image: url(../images/IMG_0280.jpg);
	background-size: cover;
	background-position: center bottom;
}

.overlay {
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.55);
}

.menu {
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition: all 0.5s;
	display: table;
	position: absolute;
}

.menu-about {
	height: 350px;
	width: 350px;
	transform: rotate(-45deg);
	top: -175px;
	left: 55px;
}

.menu-skills {
	height: 350px;
	width: 350px;
	transform: rotate(-45deg);
	top: 76px;
	left: 305px;
}

.menu-experience {
	height: 550px;
	width: 550px;
	transform: rotate(-45deg);
	top: 137px;
	left: -275px;
}

.menu-projects {
	height: 500px;
	width: 400px;
	transform: rotate(45deg);
	top: 483px;
	left: 156px;
}

.menu-contact {
	height: 350px;
	width: 350px;
	transform: rotate(45deg);
	top: 326px;
	left: 555px;
}

.menu:hover {
	border: 15px solid rgba(255, 255, 255, 0.1);
}

.menu:hover {
	background: rgba(0, 0, 0, 0.1);
}

h1 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Oswald';
}

h2 {
	font-size: 45px;
	margin: 0;
	line-height: 45px;
	font-weight: 500;
	color: #aaaaaa;
	text-transform: uppercase;
	font-family: 'Oswald';
}

h3 {
	font-size: 16px;
	margin: 50px 0 10px;
	font-weight: 400;
	color: aliceblue;
	text-transform: uppercase;
	font-family: 'Oswald';
}

p {
	position: relative;
	padding: 0;
}

.menu-container {
	display: table-cell;
	vertical-align: middle;
}

.menu-container h1 {
	position: relative;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 600;
	transition: all 1s ease-out;
}

.menu-skills h1 {
	transform: rotate(45deg);
	margin-top: 120px;
	margin-left: 60px;
}

.menu-about h1 {
	transform: rotate(45deg);
	margin-top: 220px;
	margin-left: 20px;
}

.menu-experience h1 {
	transform: rotate(45deg);
	margin-top: 310px;
	margin-left: 280px;
}

.menu-projects h1 {
	transform: rotate(-45deg);
	margin-top: -65px;
	margin-left: 80px;
}

.menu-contact h1 {
	transform: rotate(-45deg);
	margin-top: 0px;
	margin-left: 90px;
}

.menu-container h1:before {
	position: absolute;
	top: -30px;
	left: -20px;
	font-size: 14px;
	transition: all 0.5s ease;
}

.menu-container h1:after {
	position: absolute;
	content: '';
	top: -10px;
	left: -20px;
	width: 70px;
	height: 1px;
	background: rgba(255, 255, 255, 0.3);
	transition: all 0.5s ease;
}

.menu-about h1:before {
	content: '01';
}

.menu-skills h1:before {
	content: '02';
}

.menu-experience h1:before {
	content: '03';
}

.menu-projects h1:before {
	content: '04';
}

.menu-contact h1:before {
	content: '05';
}

.button {
	border: 2px solid darkcyan;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #aaaaaa;
	font-size: 16px;
	text-transform: uppercase;
	margin: 20px 0;
	padding: 10px 15px;
	display: inline-block;
	letter-spacing: 1px;
	transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	background: none;
}

.button:hover {
	border: 2px solid darkcyan;
	background-color: darkcyan;
	color: #fff;
}

.hideX {
	display: none;
}

.title-divider {
	width: 70px;
	height: 5px;
	background-color: darkcyan;
	margin: 20px 0 50px 0;
}

.overAllDataContainer {
	height: 100vh;
	background-color: #000000d8;
}

.aboutContainer .about {
	width: 60%;
}

.aboutContainer .about ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.aboutContainer .about li {
	border-bottom: 1px solid rgba(235, 235, 235, 0.1);
	padding: 12px 0;
}

.contact h3 {
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	color: #aaaaaa;
	text-transform: uppercase;
	font-size: 28px;
}

.nameTitle {
	float: right;
	margin-top: 348px;
}

.close {
	color: white;
	float: right;
	opacity: 0.8;
	font-size: 40px;
	transition-duration: 2s;
}

.close:hover {
	color: white;
	transform: rotate(90deg);
	transition-duration: 1s;
}

button:focus {
	outline: 0;
}

/* Icons */

.fas,
.fab {
	color: darkcyan;
	font-size: 45px;
}

.fas:hover,
.fab:hover {
	color: cadetblue;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #5c5c5c;
	margin: 30px 0 0 0;
	clear: both;
}

input[type="text"],
textarea {
	padding: 15px;
	border: 1px solid #3b3b3b;
	background-color: #3b3b3b;
	color: #a6a6a6;
	resize: none;
	width: 95.2%;
	font-size: 14px;
	margin: 20px 0 0;
}

input[type="text"]:focus,
textarea:focus {
	outline: none;
}

input[type="submit"] {
	border: 2px solid darkcyan;
	background-color: #4f4f4f;
	color: #aaaaaa;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	padding: 8px 18px;
	margin: 20px 0 0;
	transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}

input[type="submit"]:hover {
	background-color: darkcyan;
	color: #fff
}

.address strong:hover {
	color: white;
}

.menu:hover h1:before {
	color: white;
	top: 10px;
	left: -40px;
}

.menu:hover h1:after {
	top: 18px;

}

.menu:hover h1 {
	color: darkcyan
}